/*
Color Palette #3563
*/

:root{
--blue-black: #051e28; 
--green: #3a8841; 
--teal: #40b5bc; 
--blue: #483df6; 
--purple: #86759f; 
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}


.parallax{
  height: 100vh;
  background-image: url("Forest-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-profile{
  position: absolute;
  bottom: 10%;
}

.bg-greyish{
  background-color:rgba(192,192,192,0.6);
}


/* if you want to change the original color */
.devicon-git-plain, .devicon-html5-plain, .devicon-css3-plain,
 .devicon-bootstrap-plain, .devicon-javascript-plain,
  .devicon-nodejs-plain, .devicon-csharp-plain, .devicon-dot-net-plain-wordmark, .devicon-python-plain-wordmark,
  .devicon-git-plain, .devicon-github-plain, .devicon-express-original, .devicon-mysql-plain,
  .devicon-postgresql-plain, .devicon-vuejs-plain, .devicon-visualstudio-plain, .devicon-heroku-original,
   .devicon-github-plain, .devicon-linkedin-plain, .fa-file-pdf{
  color: var(--blue);
  font-size: 3em;
}

.text-green{
  color: var(--green)
}
.text-blue-black{
  color: var(--blue-black)
}


